<app-nav-bar></app-nav-bar>
<main>
  <section class="filter-container">
    <form action="" class="filter-form" [formGroup]="filterForm">
      <div class="search-container">
        <input type="text" placeholder="Busque um jogo" class="search-input" formControlName="name"/>
      </div>
      <select name="" id="" class="category-select" formControlName="categoryId">
        <option value="0" disabled selected hidden>Filtre por categorias</option>
        <option value="">Todas as categorias</option>
        <option
          *ngFor="let categoria of categorias()"
          value="{{ categoria.id }}"
          class="category-option"
        >
          {{ categoria.name }}
        </option>
      </select>
    </form>
  </section>
  <section id="games">
    <div class="game-container">
      <div class="game" *ngFor="let jogo of jogosFiltrados()">
        <div class="game-image-container">
          <img [src]="jogo.image_url" alt="" class="game-image" />
          <span class="game-ageRating">{{ jogo.ageRating }}</span>
        </div>
        <div class="game-text-container">
          <div class="game-title">
            <span class="game-name">{{ jogo.name }}</span>
            <span class="game-likes">
              <button class="game-like-icon" (click)="gameFeedback(jogo.id)">
                <i class="fa fa-thumbs-up" aria-hidden="true" [class.curtido]="isLiked(jogo.id)"></i>
              </button>
              {{ jogo.likesCount }}
            </span>
          </div>
          <div class="game-data-container">
            <span class="game-category">
              {{ jogo.category.name }}
            </span>
            <span class="game-mapping">
              Controles:
              <span class="game-mapping-data">{{ jogo.controls }}</span>
            </span>
          </div>
          <p class="game-descricao">
            {{ jogo.description }}
          </p>
        </div>
        <button class="game-play">Jogar</button>
      </div>
    </div>
  </section>
</main>
