main{
    background:radial-gradient(var(--Cor-primaria),#333);
    min-height: calc(100vh - 80px);
    height: 100%;
}
#search-filters{
    background: radial-gradient(rgb(60,60,60),rgb(40,40,40));
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
#search-filters .search{
    width: 50%;
}
#search-filters .search input{
    height: 30px;
    width: 60%;
    outline: none;
    border: none;
    border-radius: 10px 0 0 10px;
    background-color: white;
    padding: 15px;
}
#search-filters .search button{
    background-color: var(--Cor-secundaria);
    height: 30px;
    width: 40px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    color: white;
    outline: none;
}
#search-filters .search button:active{
    opacity: 0.8;
}
#search-filters .filters{
    display: flex;
    gap: 28px;
}
#search-filters .filters button{
    color: white;
    min-width: fit-content;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background: var(--Cor-primaria);
    cursor: pointer;
}
.game-container{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    color: white;
}
.game{
    background: radial-gradient(rgb(60,60,60),rgb(20,20,20));
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-shadow: 0 4px 10px 2px var(--Cor-terciaria);
    border: solid 1px var(--Cor-primaria);
    border-radius: 10px;
    width: 500px;
    transition: all ease .5s;
    overflow: hidden;
}
.game:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 10px 8px var(--Cor-terciaria);
}
.game-image{
    height: 300px;
}
.game-image-container{
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-ageRating{
    position: absolute;
    background-color: rgba(20,20,20,0.5);
    padding: 8px 10px;
    border-radius: 0 0 10px 10px;
    color: var(--Cor-secundaria);
    top: 0;
    right: 20px;
}
.game-text-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.game-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}
.game-name{
    width: 50%;
    text-align: left;
}
.game-like-icon{
    color: var(--Cor-secundaria);
}
.game-data-container{
    background-color: var(--Cor-primaria);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}
.game-category{
    background-color:#333;
    border-radius: 100px;
    padding: 8px 20px;
}
.game-mapping{
    background-color: #333;
    border-radius: 100px;
    padding: 8px 20px;
    color: var(--Cor-secundaria);
    text-transform: uppercase;
}
.game-mapping-data{
    color: white;
}

.game-play{
    background-color: var(--Cor-primaria);
    padding: 10px 0;
    cursor: pointer;
    font-weight: 700;
}
