<app-nav-bar></app-nav-bar>
<main>
  <section class="filter-container">

    <div class="filter-header">
      <i class="fa fa-filter"></i>
      <h2>Filtros</h2>
    </div>
  
    <form class="filter-form" [formGroup]="filterForm">
  
      <label class="filter-label">
        Procurar jogo
      </label>
  
      <div class="search-container">
        <i class="fa fa-search"></i>
        <input 
          type="text" 
          placeholder="Busque um jogo" 
          class="search-input" 
          formControlName="name"
        />
      </div>
  
  
      <label class="filter-label">
        Categoria
      </label>
  
      <select class="category-select" formControlName="categoryId">
        <option value="" selected>
          Todas as categorias
        </option>
  
        <option
          *ngFor="let categoria of categorias()"
          value="{{categoria.id}}">
          {{categoria.name}}
        </option>
      </select>
  
  
      <label class="filter-label">
        Ordenar por
      </label>
  
      <select class="category-select" formControlName="ordenator">
        <option value="3">
          Ordem alfabética
        </option>
        <option value="1">
          Mais curtidos
        </option>
        <option value="2">
          Mais recentes
        </option>
      </select>
  
  
      <button 
        type="button" 
        class="clear-filter"
        (click)="limparFiltros()"
        >
        Limpar filtros
      </button>
  
    </form>
  
  
    <div class="filter-info">
      <i class="fa fa-gamepad"></i>
  
      <div>
        <strong>Explore jogos</strong>
        <p>
          Encontre novos jogos por categoria e popularidade.
        </p>
      </div>
    </div>
  
  </section>
  <section class="game-container">
      <div class="game" *ngFor="let jogo of jogosFiltrados()">
        <div class="game-image-container">
          <img [src]="jogo.image_url" alt="" class="game-image" />
          <span class="game-ageRating">{{ jogo.ageRating }}</span>
        </div>
        <div class="game-text-container">
          <div class="game-title">
            <span class="game-name">{{ jogo.name }}</span>
            <span class="game-likes">
              <button class="game-like-icon" (click)="gameFeedback(jogo.id)">
                <i class="fa fa-thumbs-up" aria-hidden="true" [class.curtido]="isLiked(jogo.id)"></i>
              </button>
              {{ jogo.likesCount }}
            </span>
          </div>
          <div class="game-data-container">
            <span class="game-category">
              {{ jogo.category.name }}
            </span>
            <span class="game-mapping">
              Controles:
              <span class="game-mapping-data">{{ jogo.controls }}</span>
            </span>
          </div>
          <p class="game-descricao">
            {{ jogo.description }}
          </p>
        </div>
        <a class="game-play" routerLink="/jogos/game/{{jogo.id}}">Jogar</a>
      </div>
  </section>
</main>
