main{
    background:radial-gradient(var(--Cor-primaria),#333);
    min-height: calc(100vh - 80px);
    height: 100%;
}

.game-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
    color: white;
    padding: 0 20px;
}
.game{
    background: radial-gradient(rgb(60,60,60),rgb(20,20,20));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    box-shadow: 0 4px 10px 2px var(--Cor-terciaria);
    border: solid 1px var(--Cor-primaria);
    border-radius: 10px;
    width: 500px;
    transition: all ease .5s;
    overflow: hidden;
}
.filter-container{
    background: radial-gradient(rgb(40,40,40),rgb(30,30,30));
    color: white;
    height: 80px;
    padding: 0 20px;
    margin-bottom: 40px;
    box-shadow: 0 10px 10px 0 var(--Cor-secundaria);
    display: flex;
    align-items: center;
}
.filter-form{
    display: flex;
    gap: 20px;
}
.search-container{
    display: flex;
    align-items: center;
}
.search-input{
    background: rgb(220,220,220);
    height: 40px;
    width: 400px;
    color: #333;
    border-radius: 10px;
    padding: 0 10px;
    outline: none;
}

.category-select{
    padding: 10px 20px;
    background: rgb(220,220,220);
    color: #333;    
}
.filter-submit{
    cursor: pointer;
}
.game:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 10px 8px var(--Cor-terciaria);
}
.game-image{
    height: 300px;
}
.game-image-container{
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-ageRating{
    position: absolute;
    background-color: rgba(20,20,20,0.5);
    padding: 8px 10px;
    border-radius: 0 0 10px 10px;
    color: var(--Cor-secundaria);
    top: 0;
    right: 20px;
}
.game-text-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.game-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}
.game-name{
    width: 50%;
    text-align: left;
}
.game-like-icon{
    color: var(--Cor-primaria);
    cursor: pointer;
}
.game-like-icon:active{
    opacity: 0.8;
}
.game-data-container{
    background-color: var(--Cor-primaria);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}
.game-category{
    background-color:#333;
    border-radius: 100px;
    padding: 8px 20px;
}
.game-mapping{
    background-color: #333;
    border-radius: 100px;
    padding: 8px 20px;
    color: var(--Cor-secundaria);
    text-transform: uppercase;
}
.game-mapping-data{
    color: white;
}

.game-play{
    background-color: var(--Cor-primaria);
    padding: 10px 0;
    cursor: pointer;
    font-weight: 700;
}
.curtido{
    color: var(--Cor-secundaria);
}
