.beneficios-secao {
    padding: 80px 20px;
    background:#000000;
    color: #d9eef5;
    text-align: center;
    min-height: 100vh;
    
}

.secao-header {
    max-width: 750px;
    margin: 0 auto 60px;
    padding: 20px;
    text-align: center;
}

.secao-tag {
    display: inline-block;
    margin-bottom: 50px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(78,205,212);
}

.secao-titulo {
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: 600;
    margin-bottom: 15px;
    color: #fff;
    text-shadow: 0 0 20px rgba(78,205,212,.3);
}

.secao-subtitulo {
    font-size: 1rem;
    line-height: 1.8;
    color: #b7c3c7;
}

.beneficios-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    gap: 35px;
    justify-items: center;
}

.beneficio-card {
    width: 100%;
    max-width: 450px;
    min-height: 330px;
    padding: 35px 25px;
    background: linear-gradient(180deg,#0d0d0d,#050505);
    border: 1px solid rgba(40, 164, 180, 0.664);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
    transition: .35s;
    box-shadow: 0 10px 25px rgba(29, 23, 23, 0.08);
}

.beneficio-card:hover {
    transform: translateY(-10px) scale(1.03);
    border-color: rgb(78,205,212);
    box-shadow: 0 15px 35px rgba(54, 195, 202, 0.25);
}

.beneficio-icone {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: rgb(109,245,255);
    background: rgba(0, 0, 0, 0.041);
    border: 1px solid rgba(78,205,212,.20);
    border-radius: 50%;
    box-shadow: 0 0 18px rgba(78,205,212,.15);
}

.beneficio-card h3 {
    font-size: 1.3rem;
    color: rgb(109,245,255);
    margin: 0;
}

.beneficio-card p {
    font-size: .95rem;
    line-height: 1.8;
    color: #c0cfd4;
    margin: 0;
}

.animar-subir {
    opacity: 0;
    transform: translateY(30px);
    animation: subir .7s ease forwards;
}


.rodape {
    margin-top:0 ;
    padding: 80px;
    background: linear-gradient(180deg,#000000,#0b0b0b);
    border-top: 1px solid rgba(255,255,255,.08);
    
}

.rodape-container {
    max-width: 1200px;
    margin: auto;
    padding: 60px 25px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 50px;
}

.rodape-info {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.rodape-logo {
    font-size: 2rem;
    font-weight: 800;
    color: #fff;
}

.rodape-logo span {
    color: var(--cor-secundaria);
}

.rodape-sub {
    max-width: 420px;
    color: #b8b8b8;
    line-height: 1.8;
}

.rodape-redes {
    display: flex;
    gap: 15px;
    margin-top: 10px;
    backdrop-filter: blur(8px);
}

.rodape-redes a {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,.05);
    border: 1px solid rgba(255,255,255,.08);
    border-radius: 50%;
    transition: .3s;
}

.rodape-redes a:hover {
    background: var(--cor-secundaria);
    color: rgb(12, 5, 5);
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(78, 205, 212, 0.548);
}

.rodape-links h4 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    position: relative;
}

.rodape-links h4::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 40px;
    height: 3px;
    background: var(--cor-secundaria);
}

.rodape-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.rodape-links li {
    margin-bottom: 12px;
}

.rodape-links a {
    color: #b8b8b8;
    text-decoration: none;
    transition: .3s;
}

.rodape-links a:hover {
    color: var(--cor-secundaria);
    padding-left: 6px;
}

.rodape-copy {
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    border-top: 1px solid rgba(255,255,255,.08);
    color: #8b8b8b;
    font-size: .9rem;
}

@media (max-width: 900px) {

    .rodape-container {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 40px;
    }

    .rodape-info {
        align-items: center;
    }

    .rodape-sub {
        max-width: 100%;
    }

    .rodape-redes {
        justify-content: center;
    }

    .rodape-links h4::after {
        left: 50%;
        transform: translateX(-50%);
    }
}


.delay-1 {
    animation-delay: .2s;
}

.delay-2 {
    animation-delay: .4s;
}

.delay-3 {
    animation-delay: .6s;
}

@keyframes subir {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}