.profile-screen{
    background: radial-gradient(rgb(60, 60, 60), rgb(20, 20, 20));
    min-height: 100vh;
    height: fit-content;
    color: white;
    display: grid;
    grid-template-columns: 240px 1fr;
    position: relative;
}
body{
    min-height: 100vh;
}
.hidden{
    display: none;
}
.input-txt{
    cursor: text;
}
.input-img{
    cursor: pointer;
}
#profile{
    border-bottom: solid 2px var(--Cor-secundaria);
}
.U{
    color: white;
    font-size: 30px;
    margin: 20px 0;
    font-weight: 700;
    font-size: 48px;
}
.usuario{
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

.trofeus{
    font-size: 25px;
    display: flex;
    margin: 50px;
    flex-direction: column; 
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  
}

.vela{
    border: 2px solid var(--Cor-terciaria);
    border-radius: 25px;
    padding: 3px;
    margin: 3%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    user-select: none;

}

.p2{
    margin: 15px;
    padding: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;

}

.emblemas-div{
    background-color: #333;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    border-radius: 15px;
    text-align: center;
    margin: 41px;
    border: 1px solid var(--Cor-terciaria);
    padding: 16px;
    display: inline-block;
    box-shadow: all 0.3s ease;
    transition: all 0.3s ease;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    
}

.emblemas-div .desc{
   background-color: #63B3B7 ;
    margin:41px;
    border: 1px solid;
    border-radius: 15px;
    padding: 41px;
    padding-top: 150px;
    padding-block-end: 150px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

.emblemas-div:hover{
    transform: translateY(-3px);
   box-shadow: 0px 0px 15px 15px var(--Cor-primaria);
}

.emblemas-section{
    border-bottom: solid 2px var(--Cor-secundaria);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Ja-nome{
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid var(--Cor-secundaria);
    border-radius: 25px;
    padding: 4px;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
     
}

.game-div{
   background-color:#333;
   text-align: center; 
   translate: 55px;
   margin: 16px;
   padding: 10px;
   border: 3px solid var(--Cor-terciaria);
   border-radius: 30px;
   width: 23%;
   height: 500px;
   overflow: hidden;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   transition: all .6s ease;
}

.game-div:hover{
    box-shadow:  0px 6px 11px 5px var(--Cor-terciaria);
    transition: all .6s ease;
}

.game-title{
  font-size: 33px;
  margin: 2%;
  padding: 5px;
}

.profile-container{
    height: fit-content;
}
.profile-image{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.liked-games-title{
    width: 100%;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    font-family: sans-serif;
    margin: 20px 0;
    text-decoration: underline;
    text-decoration-color: var(--Cor-secundaria);
}

/*Game CSS*/
.game-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    color: white;
    padding: 20px;
}
.game{
    background: radial-gradient(rgb(60,60,60),rgb(20,20,20));
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 8px;
    box-shadow: 0 4px 10px 2px var(--Cor-terciaria);
    border-radius: 10px;
    width: 500px;
    transition: all ease .5s;
    overflow: hidden;
}
.game:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 10px 8px var(--Cor-terciaria);
}
.game-image{
    height: 100%;
    width: 100%;
    object-fit: fill;
    border: none;
    outline: none;
}
.game-image-container{
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    
}
.game-ageRating{
    position: absolute;
    background-color: rgba(20,20,20,0.5);
    padding: 8px 10px;
    border-radius: 0 0 10px 10px;
    color: var(--Cor-secundaria);
    top: 0;
    right: 20px;
}
.game-text-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.game-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}
.game-name{
    width: 50%;
    text-align: left;
}
.game-like-icon{
    color: var(--Cor-primaria);
    cursor: pointer;
}
.game-like-icon:active{
    opacity: 0.8;
}
.curtido{
    color: var(--Cor-secundaria);
}
.game-data-container{
    background-color: var(--Cor-primaria);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}
.game-category{
    background-color:#333;
    border-radius: 100px;
    padding: 8px 20px;
}
.game-mapping{
    background-color: #333;
    border-radius: 100px;
    padding: 8px 20px;
    color: var(--Cor-secundaria);
    text-transform: uppercase;
}
.game-mapping-data{
    color: white;
}
.game-descricao{
    text-align: center;
}
.game-play{
    background-color: var(--Cor-primaria);
    padding: 10px 0;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
    transition: all ease .5s;
}
.game-play:hover{
    background-color: var(--Cor-secundaria);
}
.game-play:active{
    opacity: 0.8;
}