<app-nav-bar></app-nav-bar>
<main>
  <section id="banner">
    <div class="title">
        <h1>Jogos populares da semana</h1>
        <div class="divisoria"></div>
    </div>
    <div class="game-container">
      <div class="game" *ngFor="let jogo of topjogos()">
        <div class="game-image-container">
            <img [src]="jogo.image_url" alt="" class="game-image" />
            <span class="game-ageRating">{{jogo.ageRating}}</span>
        </div>
        <div class="game-text-container">
            <div class="game-title">
                <span class="game-name">{{jogo.name}}</span>
                <span class="game-likes">
                  <button class="game-like-icon">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                  </button>
                  {{jogo.likesCount}}
                </span>
              </div>
              <div class="game-data-container">
                <span class="game-category">
                    {{jogo.category.name}}
                </span>
                <span class="game-mapping">
                    Controles:
                    <span class="game-mapping-data">{{jogo.controls}}</span>
                </span>
              </div>
              <p class="game-descricao">
                {{jogo.description}}
              </p>
        </div>
        <button class="game-play">Jogar</button>
      </div>
    </div>
  </section>
  <section id="jogos-por-categoria">
    <div class="categoria" *ngFor="let categoria of categorias()">
      <div class="titulo">
        <span>{{categoria.name}}</span>
        <div class="barra"></div>
      </div>
      <div class="lista-jogos">
        <div class="game-container">
          <div class="game" *ngFor="let jogo of getGamesPerCategory(categoria.id)">
            <div class="game-image-container">
                <img [src]="jogo.image_url" alt="" class="game-image" />
                <span class="game-ageRating">{{jogo.ageRating}}</span>
            </div>
            <div class="game-text-container">
                <div class="game-title">
                    <span class="game-name">{{jogo.name}}</span>
                    <span class="game-likes">
                      <button class="game-like-icon">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                      </button>
                      {{jogo.likesCount}}
                    </span>
                  </div>
                  <div class="game-data-container">
                    <span class="game-category">
                        {{jogo.category.name}}
                    </span>
                    <span class="game-mapping">
                        Controles:
                        <span class="game-mapping-data">{{jogo.controls}}</span>
                    </span>
                  </div>
                  <p class="game-descricao">
                    {{jogo.description}}
                  </p>
            </div>
            <button class="game-play">Jogar</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
