header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:radial-gradient(rgba(0,0,0,1), #333);
    height: 80px;
    position: sticky    ;
    top: 0;
    z-index: 1000;
    border-bottom:solid 2px var(--Cor-secundaria);
}
header button{
    display: none;
}
#logo{
    color: white;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    font-family: sans-serif;
    margin-left: 20px;
    outline: none;
    transition: all ease .5s;
}
#logo span{
    color: var(--Cor-secundaria);
}
#logo:focus{
    transform: scale(1.05);
}
#li-perfil{
    display: none;
}
header nav ul{
    display: flex;
    list-style: none;
    gap: 48px;
    padding: 0 20px;
}
header nav ul li{
    display: flex;
    align-items: center;
}
header nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    font-family: sans-serif;
    transition: all ease .25s;
    outline: none;
}
header nav ul li a:hover, header nav ul li a:focus{
    color: var(--Cor-secundaria);
}

header nav ul li .ativo{
    color: var(--Cor-secundaria);
}

#login{
    padding: 10px 20px;
    border-radius: 100px;
    background-color: var(--Cor-secundaria);
    color: #333;
}
#login:hover,#login:focus{
    background-color: var(--Cor-primaria);
    color: white;
}
#perfil img{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: solid 2px var(--Cor-secundaria);
}
header.logado #li-login{
    display: none;
}
header.logado #li-perfil{
    display: inline;
}