header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:radial-gradient(rgba(0,0,0,1), #333);
    height: 80px;
    position: sticky    ;
    top: 0;
    z-index: 1000;
    border-bottom:solid 2px var(--Cor-secundaria);
}
header button{
    display: none;
}
#logo{
    color: white;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    font-family: sans-serif;
    margin-left: 20px;
    outline: none;
    transition: all ease .5s;
}
#logo span{
    color: var(--Cor-secundaria);
}
#logo:focus{
    transform: scale(1.05);
}
#li-perfil{
    display: none;
}
header nav ul{
    display: flex;
    list-style: none;
    gap: 48px;
    padding: 0 20px;
}
header nav ul li{
    display: flex;
    align-items: center;
}
header nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    font-family: sans-serif;
    transition: all ease .25s;
    outline: none;
}
header nav ul li a:hover, header nav ul li a:focus{
    color: var(--Cor-secundaria);
}

header nav ul li .ativo{
    color: var(--Cor-secundaria);
}

#login{
    padding: 10px 20px;
    border-radius: 100px;
    background-color: var(--Cor-secundaria);
    color: #333;
}
#login:hover,#login:focus{
    background-color: var(--Cor-primaria);
    color: white;
}
#perfil img{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: solid 2px var(--Cor-secundaria);
}
header.logado #li-login{
    display: none;
}
header.logado #li-perfil{
    display: inline;
}
@media (max-width: 900px){
    .escondido{
        display: none;
    }
    header button{
        height: 40px;
        width: 40px;
        border: none;
        outline: solid 2px var(--Cor-secundaria);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        cursor: pointer;
        margin-right: 20px;
    }
    header button div{
        width: 100%;
        height: 2px;
        background-color: black;
    }
    .links{
        position: absolute;
        top: 52px;
        right: 0;
    }
    .links nav{
        height: 100%;
    }
    .links nav ul{
        display: flex;
        flex-direction: column;
        gap: 0;
        border: solid 1px #333;
        padding: 0;
        margin: 0;
    }
    .links nav ul li a{
        display: block;
        width: 100%;
        padding: 10px 2px;
        text-align: center;
        border-top:solid 1px var(--Cor-secundaria);
        background-color: #333;
    }
    .links nav ul li a:hover{
        background-color: var(--Cor-secundaria);
        color: white;
    }
}