main{
    background:radial-gradient(var(--Cor-secundaria),var(--Cor-primaria));
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
a{
    text-decoration: none;
    font-size: 48px;
    font-family: sans-serif;
    font-weight: 700;
    color: white;
}
a span{
    color: var(--Cor-secundaria);
}
.error-container{
    padding: 100px 50px;
    border-radius: 20px;
    background-color: #333;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: sans-serif;
    box-shadow: 0 20px 10px 0 rgba(0,0,0,0.3);
    transition: all ease-in-out .25s;
}
.error-container:hover{
    transform: translateY(-10px);
    box-shadow: 0 20px 10px 0 var(--Cor-secundaria);
}
.error-container h1{ 
    display: block;
    font-size: 148px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    margin: 0;
}
.error-container h1::after{
    content: "";
    display: block;
    width: 80%;
    height: 5px;
    background-color: var(--Cor-secundaria);
    margin: auto;
    border-radius: 100px;
}
.error-container p{
    font-size: 24px;
    text-wrap-mode: wrap;
}
.error-container a{
    text-decoration: none;
    font-size: 28px;
    padding: 10px 20px;
    background-color: var(--Cor-secundaria);
    border-radius: 100px;
    color: #333;
}
.error-container a:hover{
    opacity: 0.85;
}