/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
:root{
    --Cor-primaria: #345A66;
    --Cor-secundaria: #75DDDD;
    --Cor-terciaria: #63B3B7;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
}